microej/front-panel/lib/
microej/vee-port-configuration/target~/
microej/vee-port-configuration/dropins/include/
microej/vee-port-configuration/dropins/javaLibs/
microej/vee-port-configuration/dropins/mocks/
microej/vee-port-configuration/dropins/scripts/
microej/vee-port-configuration/dropins/tools/license-checker.jar
microej/vee-port-configuration/dropins/tools/imagegenerator-vectorimage.jar
microej/vee-port-configuration/dropins/resources/os/
microej/vee-port-configuration/dropins/workbenchExtension_*
microej/vee-port-configuration/dropins/scripts/init-microvg/microvginit.xml
microej/imageGenerator/bin/
microej/apps/launchers/*.properties
microej/MIMXRT595-*-CM4hardfp_GCC48-*

bsp/projects/microej/vglite_patch/
bsp/projects/microej/platform/
bsp/projects/nxpvee-ui/armgcc/mcux_include.json
bsp/projects/nxpvee-ui/armgcc/tree_version.c
bsp/mcux-sdk
bsp/projects/nxpvee-ui/armgcc/debug
bsp/projects/nxpvee-ui/armgcc/release

# ctags files
tags
TAGS

# cscope files
cscope.*
ncscope.*

# vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

/.metadata
/.sonarlint
*~
.java*
.*.java.app
javasec.prop

*.launch
CMakeCache.txt
.ninja_log
.ninja_deps
build.ninja
rules.ninja
